</head>
<body class="d-flex flex-column vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <a class="navbar-brand" href="#">
            <img src="./images/Company2.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto justify-content-end">
            <li class="nav-item active mx-4">
            <a class="nav-link" href="#">Home</a>
            </li>
        <li class="nav-item dropdown mx-4">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Programs
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">All Programs</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Accountancy</a>
                <a class="dropdown-item" href="#">Engineering</a>
                <a class="dropdown-item" href="#">LET</a>
                <a class="dropdown-item" href="#">Medical</a>
            </div>
            </li>
            <li class="nav-item mx-4">
            <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <button class="btn btn-outline-warning my-2 my-sm-0 float-right btn-custom login-btn" type="submit">Login</button>
        <button class="btn btn-outline-warning my-2 my-sm-0 float-right btn-custom signup-btn" type="submit">Sign Up</button>
        <button class="btn btn-outline-warning my-2 my-sm-0 float-right btn-custom ma-btn" type="submit">My Account</button>
        </div>
    </nav>