<%- include('./partials/htmltop') %>
  <link rel="stylesheet" href="./css/home.css">
<%- include('./partials/navbar') %>
      
  <main class="main">
    <div class="container mainBox">
      <h1 class="mainBox__h1">Be Hollistically Prepared for your Board Examinations</h1>
      <p class="mainBox__p">Looking for the best place to review for the Board Examination? Review Society has built world-class programs crafted by the best people in the industry to ensure board takers to acquire their professional license and take their careers to the next level. </p>
      <button class="mainBox__btn btn btn-outline-success">See All Programs</button>
    </div>
  </main>

  <section class="homeSec">
    
  </section>

<%- include('./partials/htmlbottom') %>
